@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', normal;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* background: linear-gradient(#4b1055, #000000); */
    background: black;
    overflow-x: hidden;
}

header {
    position: absolute;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background: #3e235d;
}

.logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    margin-left: 10px;
}

header ul li a:hover, .active {
    text-decoration: none;
    background: #fff;
    color: #4b1055;
}


section{
    width: 100%;
    height: 100vh;
    padding: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* overflow-y: scroll; */
    /* background-image: url('background.png'); */
    overflow: hidden;
    /* max-height: 469px;  */
    position: relative;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 0;
}


section img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.moon{
    transform: translateY(50px);
    position: absolute;
    mix-blend-mode: screen;
    /* mix-blend-mode: hard-light; */
    left: 47%;
    width: 9vw;
    height: auto;
    z-index: 1;
    /* -webkit-mask-image: radial-gradient(circle, black 45%, transparent 30%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center; */
}

.text{
    position:absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 10vw;
    z-index: 150;
    text-align: center;
    transform: translateY(-100px);
} 

.goose{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 2;
}

.foreground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42vh);
    width: 100vw;
    height: auto;
    object-fit: contain;
    z-index: 3000;
  }
  

.btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #4b1055;
    font-size: 1.5em;
    z-index: 150;
    
}



 

 .sec{
    position: relative;
    padding: 100px;
    clear: both;

 }
 .sec h3 {
    color: white;
    font-size: 3.5em;
    margin-bottom: 10px;
 }
 .sec p {
    font-size: 1.2em;
    color: white;
 }

 section::before{
    content: '';
    position: absolute;
    padding-top: 100%; /* Set the aspect ratio here, e.g., 100% = 1:1, 56.25% = 16:9 */
    top: 400px;
    width: 100vw;
    height: 469px;
    /* transform: translateY(90px); */
    background: linear-gradient(to bottom, transparent, black);
    z-index: 100;
}



 .app{
    position: relative;
    padding: 100px;
    clear: both;

 }
 .app h3 {
    color: white;
    font-size: 3.5em;
    margin-bottom: 10px;
 }
 .app p {
    font-size: 1.2em;
    color: white;
 }

 footer {
    background-color: #3e235d;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content p {
    margin: 0;
    color: white;
    padding: 10px;
  }



  .about {
    text-align: center;
    position: relative;
    padding:  100px;
    clear: both;
    
  }

  .about h2{
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 10vw;
    z-index: 150;
    text-align: center;
    transform: translateY(-100px);
} 
  
  @media screen and (max-width: 600px) {
    .card-row {
    
      /* width: 100%;
      display: block;
      margin-bottom: 20px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
      
  }
  

  
  .card {
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Rounded shape */
    margin-bottom: 10px;
  }


  .video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 100vh; /* Adjust as needed */
  }
  
  .video-container video {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20%; /* Rounded shape */
  }

  .about {
    text-align: center;
    margin-bottom: 20px; /* Add margin-bottom to create space between "About Us" and cards */
  }
  
  .about h2 {
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 10vw;
    z-index: 150;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  @media screen and (max-width: 800px) {
    .card {
      width: 100%;
    }
  }

  .wrapper {
    width: 50%;
    display: flex;
    padding: 4px;
    background-color: #4b1055;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }
  
  .custom-input {
    flex-grow: 1;
    padding: 4px;
  }
  
  .custom-input input[type=radio] {
    display: none;
  }
  
  .custom-input label {
    
    display: block;
    padding: 6px 8px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    transition : all .4s 0s ease;
  }
  
  .custom-input input[type=radio]:checked + label {
    background-color: #f5f5f5;
    color: #000;
    border-radius: 4px;
  }
  .custom-input input[type=radio]:hover + label {
    background-color: #f5f5f5;
    color: #000;
    border-radius: 4px;
  }