<!DOCTYPE html>
  <html>
  <head>
    <title>Gander Guide</title>
    <link rel="icon" type="image" href="../static/assets/icon.png" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  </head>
  <body>
    <header>
      <a href="#" class="logo">Gleeful Geese</a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#app">App</a></li>
        <li><a href="#sec">Process</a></li>
        <li><a href="#demo">Demo</a></li>
        <li><a href="#ad">Ad</a></li>
        <li><a href="#about">About</a> </li>
      </ul>
  
    </header>
    
    <section>
      <img src="../static/assets/foreground.png" class="foreground" id="foreground">
      <img src="../static/assets/background.png" class="background" id="background">
      <img src="../static/assets/moon.png" class="moon" id="moon">
      <img src="../static/assets/goose.png" class="goose" id="goose">
      <h2 class="text" id="text">Gander Guide</h2>
      <a href="#app" class="btn" id="btn">Test it out!</a>
    </section>
    
    <div class="app" id="app">
      <h3>Gander Guide</h3>
  
      <form method="post" action="{{ url_for('index') }}">
        <div class="wrapper">
          <div class="custom-input">
            <input type="radio" id="Human_View" name="option" value="hv">
            <label for="Human_View">Human View</label>
          </div>
          <div class="custom-input">
            <input type="radio" id="Computer_View" name="option" value="cv">
          <label for="Computer_View">Computer View</label>
        </div>
        <div class="custom-input">
          <input type="radio" id="Technical_View" name="option" value="tv">
          <label for="Technical_View">MiDaS View</label>
        </div>
      </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('input[type="radio"]').on('change', function(event) {
          $('form').submit(); // Submit the form when a radio button is selected
        });
    
        $('form').on('submit', function(event) {
          event.preventDefault(); // Prevent the default form submission behavior
    
          // Perform your AJAX request here
          $.ajax({
            method: "POST",
            data: $(this).serialize()
          }).done(function(msg) {
            // When the request is successful
            console.log("Post successful");
          }).fail(function(err, textstatus, error) {
            console.log("Post failed, error: " + error);
          });
        });
      });
    </script>
    
    
      <div class="video-container">
        <div id="message" class="message">Please turn on your webcam</div>
        <img src="{{ url_for('video_feed') }}" width="60%">
      </div>

      
      
    </div>


<main>
    
    <canvas id="bg"></canvas>
    <script src="../static/js/main.js"></script>

  </main>

  <div class="sec" id="sec">
    <br><br>
    <h3>How It Works</h3>
    <p>
      First, we explored potential 3D depth estimation models including Omni3D, Vision UFormer, and MiDaS. The most robust, reliable, and accessible option was MiDaS, so we began testing and researching relative depth maps. 
      <br><br>
      The most clear path for the user is calculated using the most far away vertical area in the image, which is blurred and averaged to reduce noise, and the frame is searched for close and large obstructions using this depth map. 
      <br><br>
      In addition to depth perception, we used SerpAPI to scrape Google for pictures of furniture, namely ottomans, sofas, chairs, wardrobes, beds, and tables. 
      <br><br>
      We used a combination of intricate polygons and bounding boxes to label our images using Roboflow and used data augmentation methods like shearing, rotating, and adjusting brightness to correct for the phone's orientation and environment. 
      <br><br>
      Then, we trained a YOLOv8 model on our dataset of over 4,500 images using Roboflow and Google Colab. After training, our model had an accuracy of __%.
      <br><br>
      The different views show different models that we take into account - the YOLO model, the MiDaS with a Gaussian filter applied to put more weight on the center, and the normal view.
      <br><br>
      Our mobile app was designed using Figma and developed using Flutter, and this website was created from scratch with JS, HTML, CSS, Three.js, and Vercel. 
      <br><br>
      Integrating furniture detection, depth estimation, and mobile accessibility yielded a robust and capable tool for assisting visually impaired or distracted users. 
  </div>

  <div class="demo" id="demo">
    <h2>Demo</h2>
    <div class="video-container">
      <video controls>
        <source src="your-video-link.mp4" type="video/mp4">
      </video>
  </div>

  <div class="ad" id="ad">
    <h2>Advertisement</h2>
    <div class="video-container">
      <video controls>
        <source src="your-video-link.mp4" type="video/mp4">
      </video>
    </div>
  </div>

    <div class="about" id="about">
      <h2>About Us</h2>
      
<div class="card-container">
        <div class="card">
          <img src="../static/assets/stephanie.png" alt="Image of Stephanie">
          <h3><a href="https://swan07.vercel.app/">Stephanie Wan</a></h3>
          <h6>Student at Lexington High School</h6>
          <p>Stephanie enjoys programming, math, art, reading, and learning new things. She was the product manager for Gander Guide, worked on a bit of backend, and created the website from scratch using HTML, JS, and CSS.</p>
        </div>
        <div class="card">
          <img src="../static/assets/alex.png" alt="Image of Alex">
          <h3><a href="https://www.linkedin.com/in/alex-montello-2bc7ad2dd">Alex Montello</a></h3>
          <h6>Student at Walnut Hills High School</h6>
          <p>Alex likes playing piano, running, robotics, programming, and 3D design. He created the image processing script and warning logic for Gander Guide.</p>
        </div>
        <div class="card">
          <img src="../static/assets/richard.png" alt="Image of Richard">
          <h3><a href="https://www.linkedin.com/in/richard-vick-9901a3284/">Richard Vick</a></h3>
          <h6>Student at Madison High School</h6>
          <p>Richard enjoys cooking, machining, programming, and playing video games. He made the mobile app using Flutter.</p>        
        </div>
        <div class="card">
          <img src="../static/assets/alan.png" alt="Image of Alan">
          <h3><a href="https://www.linkedin.com/in/alan-joseph-853047284/">Alan Joseph</a></h3>
          <h6>Student at Lower Moreland High School</h6>
          <p>Alan likes programming, science, reading books, and watching YouTube. He trained the YOLOv8 object detection model for identifying furniture.</p>        
        </div>
        <div class="card">
          <img src="../static/assets/jacob.png" alt="Image of Jacob">
          <h3><a href="https://www.linkedin.com/in/jacobhuser">Jacob Huser</a></h3>
          <h6>Student at Viera High School</h6>
          <p>Jacob likes weightlifting, football, programming, and video games. He made the UI/UX for the mobile app using Figma.</p>
        </div>
        <div class="card">
          <img src="../static/assets/kyle.png" alt="Image of Kyle">
          <h3><a href="https://www.linkedin.com/in/kyle-wisnieski-37b2b7283">Kyle Wisnieski</a></h3>
          <h6>Student at High School West, Half Hollow Hills</h6>
          <p>Kyle's hobbies are programming, video games, music, fitness, science and math. He worked on videos and presentations, frontend, and training the ai model.</p>
        </div>
        <div class="card">
          <img src="../static/assets/travis_image_square.png" alt="Card Image 4">
          <h3><a href="https://www.linkedin.com/in/jack-smalling-1b1093201/">Travis Smalling</a></h3>
          <h6>Student at THE University of Texas at Dallas. <br> (go comets ☄️)<br> Former <i>pro</i> gamer and current mentor</h6>
          <p>As a lifelong engineer, Travis has always loved building things, both hardware and software. Being raised by a teacher and a software engineer, it's natural his strengths led to mentorship.</p>
        </div>
      </div>
    </div>
    
    

    
    
    
  </section>
  
  

  <script type="module" src="../static/js/main.js"></script>
  
  
    <script>
      let foregound = document.getElementById('foreground');
      let background = document.getElementById('background');
      let moon = document.getElementById('moon');
      let text = document.getElementById('text');
      let btn = document.getElementById('btn');
      let header = document.querySelector('header');
  
      window.addEventListener('scroll', function(){
        let value = window.scrollY;
        // moon.style.left = value*0.25 + 'px';
        moon.style.top = value * 0.75 + 'px';
        // background.style.top = background.style.top+value*0.5 + 'px';
        // foreground.style.top =  value*0.25 + 'px';
        text.style.marginLeft = value*4 + 'px';
        btn.style.marginTop = value*0.5 + 'px';
        // header.style.top = value*0.75 + 'px';
      })
    </script>

  
  
  
  
  
  <footer>
    <div class="footer-content">
      <!-- Footer content goes here -->
      <p>&copy; 2023 Made with love by Stephanie Wan. All rights reserved.</p>
      <p>Contact us at gleefulgeese@gmail.com</p>
    </div>
    </div>
  </footer>
  </body>
  
  </html>